@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Forum');

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Marcellus|Nanum+Myeongjo:400,700,800|Old+Standard+TT:400,400i,700|Prata|Vidaloka');

body {
   background: #ed1c1c;
   margin:0;

}

h1{
    text-align: center;
    font: oblique bold cursive;
    color:white;
}

h3{
	text-align: center;
	font: oblique bold cursive;
	color:#D0D3D4;
}

#calculadora_form{
 background: #4895fa;
    font-family: 'Gothic A1', serif;
    padding: 2% 40%;
    text-align: center;

}

#resultados{

}

#datos{
	
}

#boton{
	text-align: center;
} 